.home-page {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .component-window {
    width: 45%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }