.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .switcher-container {
    position: absolute;
    right: 0;
    padding-right: 20px; // Adjust this to set the distance from the right edge
  }
}
